
.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #fff;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

.App-intro {
    font-size: large;
}

#icon-logo .st0 {
    fill: #DADADA;
}

#icon-logo .st1 {
    fill: #575756;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
