/* Shared */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fafafa;
    margin: 0;
    padding-bottom: 32px;
}

h1 {
    color: #575756;
    font-weight: 300;
}

h2 {
    color: #575756;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    margin: 0 0 32px;
}

.content {
    max-width: 700px;
    margin: 32px auto;
    text-align: justify;
    line-height: 1.58;
    font-size: 21px;
    font-family: 'Lato';
}

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    border-radius: 3px;
}

@media (min-width: 769px) {
    .container {
        margin: 2.5rem auto;
    }
}

/* Result Component */
.result {
    padding: 1.5rem 2.5rem;
}

/* Quiz Component */
.answerOptions {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* QuestionCount Component */
.questionCount {
    padding: 1.5rem 2.5rem 0;
    font-size: 14px;
}

/* Question Component */
.question {
    margin: 0;
    padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

/* AnswerOption Component */
.answerOption {
    border-top: 1px solid #eee;
}

.answerOption:hover {
    background-color: #eefbfe;
}

.begin {
    max-width: 1100px;
    margin: 0 auto;
}

.begin p {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 1;
}

.timer {
    font-family: 'Lato';
    font-size: 18px;
    color: #6F1BB1;
}

.purple {
    color: #6F1BB1;
    font-weight: 600;
}

.green {
    color: #12D8A7;
    font-weight: 600;
}

select {
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 32px;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
}

button, a.btn {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    background-color: #6F1BB1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: .3s ease-out;
    text-decoration: none;
}

button:hover, a.btn:hover {
    opacity: 0.9;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

button.purple {
    background-color: #6F1BB1;
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.5rem 2.5rem 1.5rem 5rem;
    font-size: 16px;
    line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 20px;
    left: 38px;
    width: 28px;
    height: 28px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #8BC53F url(./svg/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #8BC53F;
}

/* Animation */
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
